/*

----MAINPAGE----

*/



body {
    background-image: url("art/Jobit_kansi_2.png");
    background-color: #cccccc;
    position: static;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.ylis {

    height: 150px;
    position: static;
    text-align: center;

}

#logo {
    
    text-align: inherit;
    position: static;
    
}

.peliWrap {
    
    text-align: center;
    
}



h2 {
    
    position: static;
    text-align: inherit;
    color: fffc00;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;

}

.kirjautuminen {
    
    position: static;
    text-align: inherit;
    
    
}
        

.inputBox {
    
    background-color: antiquewhite;
    width: 175px;
    height: 5%;
    display: inline-block;
    border: 3 px solid ff4400;
    border-radius: 14px;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    padding: 10px
}

.tiitusButton {
    
    background-color: #cf2e2e;
    border: 3 px solid ff4400;
    border-radius: 14px;
    box-sizing: content-box;
    height: 5%;
    width: 65px;
    font-size: 14px;
    
}

.submitButton {
    
    background-color: antiquewhite;
    border: 3 px solid ff4400;
    border-radius: 14px;
    box-sizing: content-box;
    height: 5%;
    width: 65px;
    font-size: 14px;
}

/*

----HAHMONLUONTI----

*/

.ylisTwo {

    height: 100px;
    position: static;
    text-align: center;

}

#logoPieni {
    
    
    height: 35%;
    width: 25%;
    padding-top: 50px;
    
    
}

.peliCont {
    
    text-align: center;
    
}

#peliCanvas {
    
    position: static;
    border:1px solid #000000;
    background-color: antiquewhite;
    opacity: 0.5;

    
}

@media only screen and (max-width: 700px);